@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=latin-ext');
@import url('./assets/css/reset.css');

$colorPrimary: #333;
$colorSecondary: #007bff;
$colorError: #ff0022;
$fontStack: 'Roboto', sans-serif;

*{box-sizing:border-box!important; transition:all .3s ease;}

body{font-family:$fontStack!important; color:$colorPrimary; font-size:16px;}
strong{font-weight:600!important;}

.btn{color: #fff; display: inline-block; font-weight: 400; text-align: center; border: 1px solid transparent; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; cursor:pointer; margin-top:20px;
  &.primary{background-color: $colorSecondary;}
  &.error{background-color: $colorError;}
}

#app{width:100%; display:flex; align-items: center; justify-content: center;}
.modal{display:flex; align-items:center; justify-content: center; background:rgba(0,0,0,0.8); position:fixed; left:0; right:0; top:0; bottom:0; z-index:9;
  .content{width:100%; max-width:600px; background-color:#fff; padding:30px; border-radius: 10px; display:flex; align-items:center; justify-content:center; flex-direction:column; position:relative;
    .closeModal{position:absolute; right:0; top:-25px; color:#fff; font-size:20px; cursor:pointer;}
    div{width:100%; display:flex; align-items:center; justify-content:center; flex-direction:column; line-height:26px;}
    .okay{margin-top:10px;}
    .loadingImg{max-width:100%;}
    .loadingText{width:100%; font-size:18px; text-transform:uppercase; display:flex; justify-content:center;
      span{font-weight:600; padding:0 5px;}
    }
    .loadingError{width:100%; font-size:18px; text-transform:uppercase; display:flex; align-items: center; flex-direction: column; justify-content:center; color:$colorError;}
  }
}
.containerFluid{width:100%; display:flex; align-items: center; justify-content: center; flex-direction:column;}
.latLongInfo{display:flex; align-items: center; justify-content: center; font-size:12px; padding:0 20px; height:30px; margin-bottom:20px; background-color:#f1f1f1; width:100%;
  span{margin:0 5px;}
  .clearBtn{margin: 0; font-size: 12px; padding: 5px; line-height: 7px;}
}
.container{width:100%; max-width:1140px; display:flex; align-items:center; justify-content:center; flex-direction:column; min-height:100vh;
  .search{display:flex; align-items:center; justify-content:center; width:100%; padding:20px;
    input{padding:10px 20px; border:1px solid #ddd; width:100%; max-width:600px; outline:0; height:50px; font-size: 18px; border-radius: .25em 0 0 .25em;}
    .btn{border-radius:0 .25em .25em 0; height:50px; margin-top:0;}
  }
  .results{display:flex; align-items:center; justify-content:flex-start; flex-wrap: wrap;
    .location{width:25%; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 25px; background: #fff; height:250px; text-decoration: none; color: $colorSecondary;
      .img{width: 100%; border-radius: 10px; display:flex; align-items:center; justify-content:center; margin-bottom:10px; height:150px; overflow: hidden; box-shadow:0 .5px 10px rgba(0,0,0,.15);
        img{width:100%; transform: scale(1.3);}
      }
      span{width:100%; display:flex; font-size:14px; height:30px;}
      &:hover{
        .img{box-shadow:0 .5px 10px rgba(0,0,0,.9);
          img{transform: scale(1.8);}
        }
      }
    }
  }
}
.detail{display: flex; align-items: center; justify-content: flex-start; flex-direction:column; width:100%; min-height:100vh; background: #f1f1f1; padding-top: 50px;
  .img{width:100%; display:flex; justify-content:center; margin-bottom:30px;
    img{max-width: 100%; overflow: hidden; border-radius: 20px;}
  }
  .info{width:350px; display:flex; align-items:flex-start; line-height:22px; justify-content:center; flex-direction:column; background-color:#fff; padding:30px; border-radius:10px; box-shadow:0 .5px 10px rgba(0,0,0,.15);
    ul{display:flex; width:100%; flex-direction: column;
      li{width:100%; display:flex; padding-bottom:10px;
        &:nth-child(1){font-weight:600;}
        &:nth-last-child(1){padding-bottom:0;}
        span{width:120px;}
      }
    }
  }
  .backBtn{position: fixed; left: 20px; top: 20px; margin: 0; font-size: 26px; line-height: 0;}
}

@media (max-width:1023px) {
  .container .results .location{height:200px;}
}

@media (max-width:767px) {
  .container .results .location{height:250px; width:100%;}
  .latLongInfo{height:50px;}
  .latLongInfo span{margin:0 5px; line-height:15px;}
  .detail{padding:30px;}
  .detail .info{width:100%;}
  .detail .img img{border-radius:10px;}
} 